@model EmployeeRegister.Models.EmployeeMaster


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="globals.css" />
    <link href="~/css/IdCardDetails.css" rel="stylesheet" type="text/css" />
    <title></title>


</head>
<body>

    <div id="parentDiv">
    <div class="a" >
        <div class="overlap-group">
            <div class="overlap">
                <div class="div">
                    <div class="rectangle"></div>
                    <div class="rectangle-2"></div>
                        @*<img class="img" src="@Url.Content("~")/UploadedImages/@Model.ImageFileName"  asp-append-version="true" />*@
                        <img class="img" src="data:image/jpg;base64,@Model.ImageFileData" asp-append-version="true" />

                        <img class="rectangle-3" src="~/FrontPageImage/ntpc_logo.jpg" />
                    <div class="rectangle-4"></div>
                    <p class="DULANGA-COAL-MINING">DULANGA COAL MINING PROJECT</p>
                    <div class="name-of-agency-UPL"><br />Name of Agency:-UPL Limited</div>
                    <div class="rectangle-5"></div>
                    <p class="name-ankit-anand">
                        <span class="text-wrapper">Name: @Model.EmployeeName<br /></span> <span class="span"><br /></span>
                    </p>
                    <div class="text-wrapper-2">Father’s Name:@Model.EmployeeFathersName</div>
                    <div class="dob">
                        Dob:20.03.2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designation:Dozer Operator
                    </div>
                    <div class="text-wrapper-3">Emerg.Phone:9123418147</div>
                    <div class="rectangle-6"></div>
                    <div class="text-wrapper-4">Form “A” No</div>
                    <div class="text-wrapper-5">424</div>
                    <div class="rectangle-7"></div>
                    <div class="text-wrapper-6">IME No</div>
                    <div class="element">@Model.IMENo<br />08.04.2019</div>
                    <div class="rectangle-8"></div>
                    <div class="VTC-no">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VTC No</div>
                    <div class="text-wrapper-7">75</div>
                     <div class="rectangle-9"></div>
                    @*<img class="rectangle-9" src="img/rectangle-9.svg" />*@
                    <div class="text-wrapper-8">Blood Group</div>
                    <div class="b">&nbsp;&nbsp;B+</div>
                    <img class="rectangle-10"  src="data:image/jpg;base64,@Model.AuthoritySignatureData"  asp-append-version="true" />

                </div>
                    <img class="rectangle-11"  src="data:image/jpg;base64,@Model.SignatureData"  asp-append-version="true" />

                    <img class="rectangle-12" src="data:image/jpg;base64,@Model.BarcodeImageData" asp-append-version="true" />


            </div>
            <div class="text-wrapper-9">SIGNATURE OF HOLDER</div>
            <div class="text-wrapper-10">SIGNATURE OF ISSUING AUTHORITY</div>
        </div>
    </div>
    </div>
    <a id="printPDF" class="btn btn-primary">Print</a>

@section scripts{
    <script>
        $("#printPDF").click(function(){
            var element=document.getElementById('parentDiv');
            /*html2pdf().from(element).set({
                margin:[30,10,5,10],
                pagebreak:{avoid:'tr'},
                jsPDF:{orientation:'landscape',unit:'pt',format:'letter',compressPDF:true}
                }).save()*/

                html2pdf() // move your config in the .set({...}) function below
                    .set({
                        filename: 'test.pdf',
                        jsPDF: {
                            orientation: 'portrait',
                        }
                    })
                    .from(element)
                    .outputPdf()  // add this to replace implicite .save() method, which triggers file download
                    .get('pdf')
                    .then(function (pdfObj) {
                        pdfObj.autoPrint();
                        window.open(pdfObj.output("bloburl"), "F")
                    });
        });

                html2pdf().from(element).toPdf().get('pdf').then(function (pdfObj) {
                    // pdfObj has your jsPDF object in it, use it as you please!
                    // For instance (untested):
                    pdfObj.autoPrint();
                    window.open(pdfObj.output('bloburl'), '_blank');
                });
    </script>
}
  

</body>
</html>
