@model EmployeeRegister.Models.EmployeeMaster


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="globals.css" />
    <link href="~/css/IdCardDetails.css" rel="stylesheet" type="text/css" />
    <title></title>


</head>
<body>
    <div id="parentDiv">
    <div class="a">
      <div class="overlap-group">
        <div class="rectangle-stroke">
        <div class="rectangle">
        <p class="DULANGA-COAL-MINING">DULANGA COAL MINING PROJECT</p>
        <div class="name-of-agency-UPL"><br />Name of Agency:-UPL Limited</div>
                        <object data="data:image/jpg;base64,@Model.BarcodeImageData" class="img" height="120" width="120" asp-append-version="true" type="image/jpeg" class="rectangle-2">
                            <img src="~/FrontPageImage/no_image_available.png" />
                        </object>

                    </div>
                    <object data="data:image/jpg;base64,@Model.ImageFileData" height="120" width="120" asp-append-version="true" type="image/jpeg" class="rectangle-2">
                        <img src="~/FrontPageImage/no_image_available.png" />
                    </object>
        <div class="div"></div>
        <p class="name-ankit-anand">
          <span class="text-wrapper">Name: Ankit Anand<br /></span> <span class="span"><br /></span>
        </p>
        <div class="text-wrapper-2">Father’s Name:Arbind Kumar Mehta</div>
        <div class="doj">
          DoJ:20.03.2000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Designation
          :Dozer Operator
        </div>
        <div class="text-wrapper-3">Emerg. Phone:9123418147</div>
        <div class="rectangle-3"></div>
        <div class="rectangle-4"></div>
        <div class="text-wrapper-4">Form “A” No</div>
        <div class="text-wrapper-5">424</div>
        <div class="rectangle-5"></div>
        <div class="text-wrapper-6">IME/PME No</div>
        <div class="element">426<br />08.04.2019</div>
        <div class="rectangle-6"></div>
        <div class="VTC-no">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VTC No</div>
        <div class="text-wrapper-7">309</div>
        <div class="rectangle-7"></div>
        <div class="text-wrapper-8">Blood Group</div>
        <div class="b">&nbsp;&nbsp;B+</div>
        <div class="rectangle-8"></div>
                    <object data="data:image/jpg;base64,@Model.AuthoritySignatureData" class="rectangle-9" height="120" width="120" asp-append-version="true" type="image/jpeg" class="rectangle-2">
                        <img src="~/FrontPageImage/no_image_available.png" />
                    </object>
        <div class="text-wrapper-9">SIGNATURE OF ISSUING AUTHORITY</div>
        <p class="p">This is a system-generated ID Card,hence requires no signature of holder.</p>
       </div>
      </div>
            <div class="overlap">
        <div class="rectangle-stroke-1">
        <p class="if-found-please">
          <span class="text-wrapper-10">If&nbsp;&nbsp;found,please return at following address:<br /></span>
          <span class="text-wrapper-11">मिलने पर, इस कार्ड को कृपया इस पते पर लौटाए:</span>
        </p>
        <p class="element-human">
          <span class="text-wrapper-10"
            >मानव संसाधन विभाग
एनटीपीसी लिमिटेड, दुलंगा कोयला खनन परियोजना
एटी- खपुरिकाछार, पीओ-सांगहुमुड़ा
सुंदरगढ़-
            770013, ओडिशा<br
          /></span>
          <span class="text-wrapper-12"><br /></span>
          <span class="text-wrapper-13"
            >Human Resource Department<br />NTPC Limited,Dulanga Coal Mining Project<br />AT- Khapurikachhar,
            PO-Sanghumuda<br />Sundargarh- 770013,Odisha</span
          >
        </p>
      </div>

            </div>


    </div>
    <a id="printPDF" class="btn btn-primary">Print</a>

@section scripts{
    <script>
        $("#printPDF").click(function(){
            var element=document.getElementById('parentDiv');
            /*html2pdf().from(element).set({
                margin:[30,10,5,10],
                pagebreak:{avoid:'tr'},
                jsPDF:{orientation:'landscape',unit:'pt',format:'letter',compressPDF:true}
                }).save()*/

                html2pdf() // move your config in the .set({...}) function below
                    .set({
                        filename: 'test.pdf',
                        jsPDF: {
                            orientation: 'portrait',
                        }
                    })
                    .from(element)
                    .outputPdf()  // add this to replace implicite .save() method, which triggers file download
                    .get('pdf')
                    .then(function (pdfObj) {
                        pdfObj.autoPrint();
                        window.open(pdfObj.output("bloburl"), "F")
                    });
        });

                html2pdf().from(element).toPdf().get('pdf').then(function (pdfObj) {
                    // pdfObj has your jsPDF object in it, use it as you please!
                    // For instance (untested):
                    pdfObj.autoPrint();
                    window.open(pdfObj.output('bloburl'), '_blank');
                });
    </script>
}
  

</body>
</html>
