@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<html lang="en">
<head>
    <link href="~/css/FrontPage.css" rel="stylesheet" type="text/css" />

</head>
<body class="splash">
    @*<div id="bg-test">
    </div>
    <div class="bg">
        <img src="~\wwwroot\FrontPageImage\rt-26100-.jpg" alt="Haul truck at Kennecott, Bingham Canyon Mine" sizes="(max-width: 768px) 1000px, (max-width: 1050px) 1200px, (max-width: 1440px) 1400px, 1400px" srcset="https://cdn-rio.dataweavers.io/-/media/content/images/news/stories/2023/fuelling-our-trucks-with-renewable-fuel/rt-26100-.jpg?rev=dd2b9f267f9443a398d01414bc971708&amp;w=1050&amp;hash=972E6011524C205E91F57D60BE14BE02 1050w,https://cdn-rio.dataweavers.io/-/media/content/images/news/stories/2023/fuelling-our-trucks-with-renewable-fuel/rt-26100-.jpg?rev=dd2b9f267f9443a398d01414bc971708&amp;w=1440&amp;hash=676CEF6A479DD5E8A9711739AA93F48A 1440w,https://cdn-rio.dataweavers.io/-/media/content/images/news/stories/2023/fuelling-our-trucks-with-renewable-fuel/rt-26100-.jpg?rev=dd2b9f267f9443a398d01414bc971708&amp;w=1920&amp;hash=58A1F778E10114AE362DFD30A7145322 1920w">
    </div>*@
</body>
</html>