.a {
    width: 595px;
    height: 842px;
    background-color: #ffffff;
}

    .a .overlap-group {
        position: relative;
        width: 510px;
        height: 297px;
        top: 259px;
        left: 56px;
        background-color: #ffffff;
        border: 2px solid;
        border-color: #000000;
    }

    .a .overlap {
        position: absolute;
        width: 510px;
        height: 287px;
        top: 0;
        left: 0;
    }

    .a .div {
        position: absolute;
        width: 510px;
        height: 273px;
        top: 0;
        left: 0;
    }

    .a .rectangle {
        position: absolute;
        width: 393px;
        height: 102px;
        top: 95px;
        left: 117px;
        background-color: #ffffff;
        border: 2px solid;
        border-color: #000000;
    }

    .a .rectangle-2 {
        position: absolute;
        width: 120px;
        height: 98px;
        top: 0;
        left: 0;
        background-color: #ffffff;
        border: 2px solid;
        border-color: #000000;
    }

    .a .img {
        position: absolute;
        width: 120px;
        height: 154px;
        top: 97px;
        left: 0;
        object-fit: cover;
    }

    .a .rectangle-3 {
        position: absolute;
        width: 99px;
        height: 67px;
        top: 15px;
        left: 10px;
        object-fit: cover;
    }

    .a .rectangle-4 {
        position: absolute;
        width: 393px;
        height: 98px;
        top: 0;
        left: 117px;
        background-color: #ffffff;
        border: 2px solid;
        border-color: #000000;
    }

    .a .DULANGA-COAL-MINING {
        position: absolute;
        width: 365px;
        top: 22px;
        left: 132px;
        text-shadow: 0px 4px 4px #00000040;
        -webkit-text-stroke: 1px transparent;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #1565b2;
        font-size: 20px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
        white-space: nowrap;
    }

    .a .name-of-agency-UPL {
        position: absolute;
        width: 296px;
        top: 40px;
        left: 136px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 14px;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .rectangle-5 {
        position: absolute;
        width: 390px;
        height: 55px;
        top: 196px;
        left: 120px;
        background-color: #ffffff;
        border: 1px solid;
        border-color: #000000;
    }

    .a .name-ankit-anand {
        position: absolute;
        width: 329px;
        top: 106px;
        left: 133px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .text-wrapper {
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        letter-spacing: 0;
    }

    .a .span {
        font-size: 15px;
    }

    .a .text-wrapper-2 {
        position: absolute;
        width: 329px;
        top: 126px;
        left: 133px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .dob {
        position: absolute;
        width: 362px;
        top: 150px;
        left: 133px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .text-wrapper-3 {
        position: absolute;
        width: 332px;
        top: 171px;
        left: 133px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .rectangle-6 {
        position: absolute;
        width: 85px;
        height: 56px;
        top: 195px;
        left: 118px;
        background-color: #ffffff;
        border: 2px solid;
        border-color: #000000;
    }

    .a .text-wrapper-4 {
        position: absolute;
        width: 77px;
        top: 202px;
        left: 121px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .text-wrapper-5 {
        position: absolute;
        width: 58px;
        top: 230px;
        left: 133px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .rectangle-7 {
        position: absolute;
        width: 114px;
        height: 56px;
        top: 195px;
        left: 202px;
        background-color: #ffffff;
        border: 2px solid;
        border-color: #000000;
    }

    .a .text-wrapper-6 {
        position: absolute;
        width: 68px;
        top: 203px;
        left: 222px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .element {
        position: absolute;
        width: 77px;
        top: 216px;
        left: 222px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .rectangle-8 {
        position: absolute;
        width: 103px;
        height: 56px;
        top: 195px;
        left: 316px;
        background-color: #ffffff;
        border: 2px solid;
        border-color: #000000;
    }

    .a .VTC-no {
        position: absolute;
        width: 88px;
        top: 203px;
        left: 322px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .text-wrapper-7 {
        position: absolute;
        width: 91px;
        top: 230px;
        left: 328px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .rectangle-9 {

        position: absolute;
        width: 91px;
        height: 56px;
        top: 195px;
        left: 419px;
        background-color: #ffffff;
        border: 2px solid;
        border-color: #000000;
    }

    .a .text-wrapper-8 {
        position: absolute;
        width: 91px;
        top: 202px;
        left: 425px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 13px;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .b {
        position: absolute;
        width: 42px;
        top: 230px;
        left: 456px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 12px;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .rectangle-10 {
        position: absolute;
        width: 101px;
        height: 20px;
        top: 253px;
        left: 381px;
        object-fit: cover;
    }

    .a .rectangle-11 {
        position: absolute;
        width: 99px;
        height: 21px;
        top: 253px;
        left: 10px;
        object-fit: cover;
    }

    .a .rectangle-12 {
        position: absolute;
        width: 171px;
        height: 32px;
        top: 255px;
        left: 169px;
        object-fit: cover;
    }

    .a .text-wrapper-9 {
        position: absolute;
        width: 103px;
        top: 277px;
        left: 15px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 7px;
        letter-spacing: 0;
        line-height: normal;
    }

    .a .text-wrapper-10 {
        position: absolute;
        width: 141px;
        top: 276px;
        left: 363px;
        font-family: "Inter-Bold", Helvetica;
        font-weight: 700;
        color: #000000;
        font-size: 7px;
        text-align: center;
        letter-spacing: 0;
        line-height: normal;
    }
